<header>

        <!-- sidebar -->
        <div class="sidebar">
            <div class="logo">
                <a href="/"><i class="fab fa-spotify"></i></a>
            </div>
            <nav>
                <a href="/"><i class="fas fa-home"></i>&nbsp; <span>Home</span></a>
                <a href="/searchpage"><i class="fas fa-search"></i>&nbsp; <span>Search</span></a>
                <a href="/list"><i class="fas fa-bookmark"></i>&nbsp; <span>Your Library</span></a>
                <a href="#"><i class="fas fa-headphones"></i>&nbsp; <span>Radio</span></a>
            </nav>
        </div>

        <!-- // top nav -->
        <div class="top-nav">

            {{#if user }}
            <div class="dropdown">
                <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-user"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="/logout">logout</a></li>
                </ul>
            </div> 
            {{else}}
           <div style="display: flex; align-items: center; gap:10px;">
             <div class="signup">
                <a href="/register">Sign Up</a>
            </div>
            <div class="login">
                <a href="/login">Login</a>
            </div>
           </div>
            {{/if}}

        </div>

    </header>