{{#if user }}
<div>
  <h3>Top Hits</h3>
  <hr />
  <div class="custom_box row">

    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-fluid" />
      <h3>Playlist 1</h3>
      <a href="#" class="btn"><i class="fa-solid fa-circle-play"></i></a>
      
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-fluid" />
      <h3>Playlist 1</h3>
      <a href="#" class="btn"><i class="fa-solid fa-circle-play"></i></a>
      
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-fluid" />
      <h3>Playlist 1</h3>
      <a href="#" class="btn"><i class="fa-solid fa-circle-play"></i></a>
      
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-fluid" />
      <h3>Playlist 1</h3>
      <a href="#" class="btn"><i class="fa-solid fa-circle-play"></i></a>
    </div>

  </div> <br />
</div>

<div id="playlist2">
  <h3>Top Albums</h3>
  <hr />
  <div class="custom_box row">

    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-fluid" />
      <h3>Playlist 1</h3>
      <a href="/playlist/:id" class="btn"><i class="fa-solid fa-circle-play"></i></a>
      
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-fluid" />
      <h3>Playlist 1</h3>
      <a href="#" class="btn"><i class="fa-solid fa-circle-play"></i></a>
      
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-fluid" />
      <h3>Playlist 1</h3>
      <a href="#" class="btn"><i class="fa-solid fa-circle-play"></i></a>
      
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-fluid" />
      <h3>Playlist 1</h3>
      <a href="#" class="btn"><i class="fa-solid fa-circle-play"></i></a>
    </div>

  </div> <br />
</div>

{{else}}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Music App</h1>
      <p>Listen to your favorite music</p>
      <a href="/login" class="btn btn-primary">Login</a>
    </div>
  </div>
</div>

{{/if}}

<br><br>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
<script>

$(document).ready(function () {
  fetch("/api/playlists")
  .then((response) => response.json())
  .then((playlists) => {
    // Get the existing cards
    const cards = document.querySelectorAll(".__card");

    // Loop through the playlists and append them to the cards
    playlists.forEach((playlist, index) => {
      const card = cards[index];
      const image = card.querySelector("img");
      const name = card.querySelector("h3");
      const redirect = card.querySelector("a");

      image.src = playlist.images[0].url;
      name.textContent = playlist.name;
      redirect.href = `/playlist/${playlist.id}`;
    });
  })
  .catch((error) => console.error(error));
});

// fetch more playlists for the second section
$(document).ready(function () {
  fetch("/api/albums")
  .then((response) => response.json())
  .then((album) => {
    // Get the existing cards
    const secondCards = document.querySelectorAll("#playlist2 .__card");

    // Loop through the playlists and append them to the cards
    album.forEach((album, index) => {
      const card = secondCards[index];
      const image = card.querySelector("img");
      const name = card.querySelector("h3");
      const redirect = card.querySelector("a");
      name.textContent = album.name.slice(0, 19);
      redirect.href = `/album/${album.id}`;
      if (album.images.length > 0) {
        image.src = album.images[0].url;
      }
      else{
        image.src = "https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930";
      }
    });
  })
  .catch((error) => console.error(error));
});

</script>