


<h1>Song Search</h1>
<form id="search-form" class="" action="/search" method="post">
    <div class="input-group" style="flex-wrap: nowrap;">
        <input class="" type="text" id="search-input" name="q" required  />
        <button type="submit" id="submit">Search</button>
    </div>
</form>
<div id="search-results"></div>
{{!-- 
<script>
    //// search page

const form = document.querySelector("#search-form");
const results = document.querySelector("#search-results");

form.addEventListener("submit", (event) => {
  event.preventDefault();
  const query = document.querySelector("#search-input").value;
  fetch(`/search?q=${encodeURIComponent(query)}`)
    .then((response) => response.json())
    .then((tracks) => {
      results.innerHTML = "";
      for (const track of tracks) {
        const trackElement = document.createElement("div");
        const plBtn = document.createElement("button");
        plBtn.innerText = "Play";
        plBtn.addEventListener("click", () => {
          audioPlayer.src = track.preview_url;
          audioPlayer.play();
          isPlaying = true;
          playButton.innerHTML = '<i class="fas fa-pause"></i>';
        });
        trackElement.innerHTML = `<h2>${track.name}</h2><p>by ${track.artists[0].name}</p>`;
        trackElement.appendChild(plBtn);
        results.appendChild(trackElement);
      }
    })
    .catch((error) => {
      console.error(error);
      results.innerHTML = "<p>There was an error searching for tracks.</p>";
    });
});
</script> --}}


