* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

/* background-color: #181818!important; */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    background-color: #000000;
    color: #fff;
    z-index: 111;
}


.logo {
    padding: 24px;
    text-align: center;
}

.logo i{
    font-size: 40px;
    color: #1db954;
}

nav {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px 50px;     
}



a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #fff;
    text-decoration: none;
}



input[type="text"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 8px;
}

button[type="submit"] {
    background-color: #1db954;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}


.top-nav {
    min-width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: hsl(0, 0%, 6%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 24px;
    z-index: 100;
}

.login{
    background-color: #ffffff;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    padding: 0.53rem 1.19rem;
}

.login a{
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.login a:hover{
    color: #000000;
    text-decoration: none;
}

.login:hover{
    background-color: #1db954;
    color: #ffffff;
}

main{
    margin-left: 240px;
    margin-top: 30px;
    padding: 24px;
    min-height: 100vh;
    background-color: #181818;
    color: #fff;
    z-index: 1;
}





@media screen and (max-width: 770px) {
    .sidebar {
        width: min-content;
    }
    nav span {
        display: none;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column ;
        gap: 15px;
        padding: 10px 20px;
    }

    nav i{
        font-size: 20px;
    }
    
    main{
        margin-left: 85px!important;
    }
}

